<html>
	<head>
		<title>Aplikasi Manajemen Proyek - {{ title }}</title>
	</head>
	<body>
		<h2>{{ msg }}</h2>
		{% for project in projects %}
			<div>
				<p>Nama Proyek: {{ project.name}}</p>
				<p>Team Leader: {{ project.leader.first_name }}</p>
				<p>Anggota Tim: </p>
				<ul>
				{% for member in project.members.all %}
					<li>{{member.first_name}}</li>
				{% endfor %}
				</ul>
				{% if project.tasks.all %}
				<p>Pekerjaan Terkait</p>
				<ul>
					{% for task in project.tasks.all %}
					<li>{{ task.tName }} </li>
					{% endfor %}
				</ul>
				{% else %}
				<p><a href="./task/add">Tambah Pekerjaan</a></p>
				{% endif %}
			<hr/>
			</div>
		{% endfor %}
		<a href="./add/">Buat Proyek Baru</a>
	</body>
</html>