{% extends 'base.html' %}
{% block container%}
    <div class="row">
    <div class="span1"><p></p></div>
    <div class="span7">
        <h2>{{ msg }}</h2>
        <p><br /></p>
        <table class="zebra-stripped">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Team Leader</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.leader.full_name }}</td>
                <td><a class="" href={% url project_detail project.id %}>Details...</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <a class="btn primary actions" href={% url project_new  %}>Create New Project</a>
        </p>
    </div>
    </div>
{% endblock %}