{% extends 'base.html' %}
{% block container %}
    <div class="row">
        <div class="span1"><p></p></div>
        <div class="span8">
            <h2>{{ msg }}</h2>
            {% if form.errors %}
                <div class="alert-message block-message error">
                    Fail to create new task. Please check form below.
                </div>
            {% endif %}
            <form action="." method="POST" class="form-row">
                {% csrf_token %}
                <fieldset>
                    <div class="clearfix">
                        {{ form.name.label_tag }}
                        <div class="input">{{ form.name }}</div>
                    </div>
                    <div class="clearfix">
                        {{ form.desc.label_tag }}
                        <div class="input">{{ form.desc }}</div>
                    </div>
                    <div class="clearfix">
                        {{ form.reporter.label_tag }}
                        <div class="input">{{ form.reporter }}</div>
                    </div>
                    <div class="clearfix">
                        {{ form.assignee.label_tag }}
                        <div class="input">{{ form.assignee }}</div>
                    </div>
                    <div class="clearfix">
                        {{ form.priority.label_tag }}
                        <div class="input">{{ form.priority }}</div>
                    </div>
                    <div class="clearfix">
                        {{ form.tType.label_tag }}
                        <div class="input">{{ form.tType }}</div>
                    </div>
                    <div class="clearfix">
                        {{ form.bugType.label_tag }}
                        <div class="input">{{ form.bugType }}</div>
                    </div>
                    <div class="clearfix">
                        {{ form.status.label_tag }}
                        <div class="input">{{ form.status }}</div>
                    </div>
                </fieldset>
                <input type="submit" value="Create new task" class="btn actions primary">
            </form>
        </div>
    </div>
{% endblock %}